@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-marine-blue: #02295a;
  --primary-purplish-blue: #473dff;
  --primary-pastel-blue: #adbeff;
  --primary-light-blue: #bfe2fd;
  --primary-strawberry-red: #ed3548;
  --neutral-cool-gray: #9699ab;
  --primary-light-gray: #d6d9e6;
  --primary-magnolia: #f0f6ff;
  --primary-alabaster: #fafbff;
  --primary-white: rgb(255, 255, 255);
  --font-ubuntu: "Ubuntu", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ubuntu);
}
