.fontUbuntu {
  font-family: var(--font-ubuntu);
}

.imageHeightWidth {
  height: 172px;
  width: 100%;
}

@media (min-width: 768px) {
  /* Your styles for screens 768px and above */
  .imageHeightWidth {
    height: 568px;
    width: 274px;
  }
}
